<div class="container">
      <!--<div class="jumbotron text-center">-->
      <!--  <h1>Mean Vote</h1>-->
      <!--  <p>Create custom polls with live results.</p>-->
      <!--  <a href="/#/register" class="btn btn-info ">Signup</a>-->
      <!--</div>-->
      <div class="jumbotron ">
        <div class="form-group text-center">
      <form ng-submit="get(search)" class="col-md-8 col-md-offset-2 form">
        <div  class="form-group col-md-10">
          <input type="text" ng-model="search" class="form-control text-center" id="exampleInputEmail2" placeholder="Where are you at?">
        </div>
        <button type="submit" class="btn btn-success col-md-2">Go</button>
      </form>
      <div ng-repeat="loc in locs.businesses">
        <div class="row">
        <div class="places col-md-8 col-md-offset-2 well">
          <div class="col-md-2">
            <span><img ng-src="{{loc.rating_img_url_small}}"></span><span>   {{loc.rating}}</span>
            <a href="{{loc.url}}" target="_blank"><img class="media-left" ng-src="{{loc.image_url}}" /></a>
         </div>
          <div class="col-md-4 col-md-offset-1">
            
             <a href="{{loc.url}}" target="_blank"><h4 class="text-left helem">{{loc.name}}</h4></a>
             
          </div>
          <button class="btn btn-danger col-md-offset-2" ng-show="locnameArr.indexOf(loc.name) != -1" ng-click="destroy(loc.name, $index)">unmark it</button>
          <button class="btn btn-info col-md-offset-2" ng-show="locnameArr.indexOf(loc.name) == -1" ng-click="addLocation(loc)">mark as going</button>
          <div class="col-md-10">
            <p class="descp ">{{loc.snippet_text}}</p>
          </div>
          <div class="col-md-10">
            <p class="address ">Adress: {{loc.location.address[0]}}</p>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>