<div ng-repeat="loc in locas.data">
    <div class="row">
        <div class="places col-md-8 col-md-offset-2 well">
        <div class="col-md-2">
        <span><img ng-src="{{loc.img_r_url}}"></span><span>   {{loc.rating}}</span>
        <a href="{{loc.url}}" target="_blank"><img class="media-left" ng-src="{{loc.img_url}}" /></a>
        </div>
        <div class="col-md-4 col-md-offset-1">
         <a href="{{loc.url}}" target="_blank"><h4 class="text-left helem">{{loc.name}}</h4></a>
        </div>
        <div class="col-md-10">
        <p class="descp ">{{loc.desc}}</p>
        </div>
        <div class="col-md-10">
        <p class="address ">Adress: {{loc.adress}}</p>
        <span><b>Who is going :  </b></span>
        <span class="people" ng-repeat="person in loc.people track by $index">
            <span>  {{person}}  </span>
        </span>
    </div>
</div>